:root {
    --size: 100px;
}

* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: black solid 1px; */
    background-color: gainsboro;
    padding: 10px 10px 0;
    padding-bottom: 60px;
    /* background: rgb(220,220,220); */
    background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(220,220,220,1) 80%, rgba(255,255,255,1) 100%);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

#gameboard {
    /* border: solid black 1px; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: black;
    padding: 10px;
}

.cell {
    height: var(--size);
    width: var(--size);
    /* border: solid red 1px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 3px;
    font-family: sans-serif;
}

.cell:hover {
    background-color: aqua !important;
    border-radius: 5px;
}

.hover:hover {
    background-color: rgb(223, 223, 223) !important;
}

.innerWrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    width: 100%;
}

.sideDiv {
    display: flex;
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
    align-items: center;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 1px #a8a8a8;
}

.names {
    text-align: left;
    font-size: 2rem;
}

.right {
    padding-left: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.left {
    justify-content: right;
    padding-right: 20px;
}

button {
    font-weight: 700;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: rgb(199, 207, 216);
}

button:hover {
    background-color: #0779bb;
}